<div class="row">
    <div class="col col-md-12 d-flex align-items-center flex-column" style="margin-top: 200px;">
        <div class="d-flex flex-column align-items-center">
            <img src="../../../../assets/img/giphy.gif" width="150" alt="" style="position: absolute; top: -62px;">
            <img src="../../../../assets/img/entradasatualcance.png" width="500" alt="">
        </div>
    </div>
</div>