<div class="row d-flex justify-content-center mt-5" style="min-width: 550px;">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Events</label>
                    </div>
                    <select (change)="selectEvent($event.target.value)" class="custom-select">
                      <option value="">Choose one Event...</option>
                      <option *ngFor="let event of events" [value]="event.id">{{ event.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>