<div class="row d-flex justify-content-center mt-5">
    <div style="width: 100%; min-width: 900px;">
        <div class="card">
            <div class="d-flex m-3" [ngClass]="{ 'justify-content-center': option === 'null',
                                                 'justify-content-around': option !== 'null' && option === 'events' || option === 'months' }">
                <div class="input-group mt-2 mr-1 mb-2 ml-1" style="width: 210px;">
                    <select class="custom-select" (change)="showOrderBy($event.target.value)">
                          <option value="null">Show Group Order By...</option>
                          <option value="events">Events</option>
                          <option value="months">Months</option>
                        </select>
                </div>
                <div class="input-group mt-2 mr-1 mb-2 ml-1" style="width: 170px;" *ngIf="option !== 'null' && option === 'events'">
                    <select (change)="selectEvent($event.target.value)" class="custom-select">
                            <option [value]="null">Filter By Event...</option>
                            <option [value]="event.name" *ngFor="let event of _reportService.events">{{ event.name }}</option>
                          </select>
                </div>
                <div class="input-group mt-2 mr-1 mb-2 ml-1" style="width: 170px;" *ngIf="option !== 'null' && option === 'months'">
                    <input type="month" [value]="localDate" (change)="selectMonth($event.target.value)">
                </div>
            </div>
            <div class="d-flex flex-column align-items-center m-3" [ngStyle]="{ 'display': option !== 'null' ? 'grid': 'none' }">
                <!-- *ngIf="option !== 'null'" -->
                <div class="table-container" [ngStyle]="{ 'display': option === 'events' ? 'grid': 'none'}">
                    <!-- *ngIf="option ==='events' else months" -->
                    <div [ngStyle]="{ 'display': (option === 'events' && dataSource.filteredData.length > 0) ? 'grid': 'none'}">
                        <!-- *ngIf="dataSource.filteredData.length > 0 else empty" -->
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                            <ng-container matColumnDef="event_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header #eventName (click)="order(eventName)">Event Name </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].ticket.event.name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="event_date">
                                <th mat-header-cell *matHeaderCellDef>Event Date </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].ticket.event.date | date:'longDate' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="created_by">
                                <th mat-header-cell *matHeaderCellDef>Created By </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.name }} {{ element.lastname }} </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef>Created At </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.created_at | date:'longDate' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="ticket_name">
                                <th mat-header-cell *matHeaderCellDef>Ticket Name </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].ticket.name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header #quantity (click)="order(quantity)">Quantity </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].quantity }} </td>
                            </ng-container>

                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef>Price/ticket </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].ticket.price | currency: 'EUR':'symbol' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef>Total </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].quantity * element.lines[0].ticket.price | currency: 'EUR': 'symbol'}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tableColumnsGroupByEvents"></tr>
                            <tr mat-row *matRowDef="let row; columns: tableColumnsGroupByEvents;"></tr>
                        </table>
                    </div>
                </div>
                <div class="table-container" [ngStyle]="{ 'display': option === 'months' ? 'grid': 'none'}">
                    <div [ngStyle]="{ 'display': (option === 'months' && dataSource.filteredData.length > 0) ? 'grid': 'none'}">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header #createdAt (click)="order(createdAt)">Created At </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.created_at | date:'longDate' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="ticket_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Name </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].ticket.name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="ticket_description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Description </th>
                                <td mat-cell *matCellDef="let element;"> {{ element.lines[0].ticket.description }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tableColumnsGroupByMonths"></tr>
                            <tr mat-row *matRowDef="let row; columns: tableColumnsGroupByMonths;"></tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12" [ngStyle]="{ 'display': (option !== 'null' && dataSource.filteredData.length === 0) ? 'grid': 'none'}">
                    <div class="alert alert-warning text-center">
                        <div>
                            <i class="fa fa-exclamation-triangle fa-2x mt-2"></i>
                        </div>
                        <div>
                            <strong *ngIf="selectedEventName !== 'null' || selectedMonthName !== 'null'">There aren't orders to show in {{ (selectedEventName === 'null') ? selectedMonthName : selectedEventName }}</strong>
                            <strong *ngIf="dataSource !== undefined && dataSource.filteredData.lenght === 0">There aren't orders to show</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>