<nav class="navbar navbar-expand navbar-dark bg-dark" style="min-width: 790px;">
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <div *ngIf="user" class="d-flex">
            <div class="mr-2">
                <button class="btn btn-outline-secondary" (click)="goHome()">Home</button>
            </div>
            <div *ngIf="userOrders.length > 0">
                <button class="btn btn-outline-primary" (click)="reportOrders()">Report Orders</button>
            </div>
        </div>
        <div *ngIf="user else notLogged">
            <span>You are logged as <span style="color: yellow;">{{ user.username }}</span></span>
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()" type="button">Logout</button>
        </div>
        <ng-template #notLogged>
            <form [formGroup]="headerLoginForm" (ngSubmit)="login()">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-text">
                                <i class="fa fa-user-circle-o"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" formControlName="username">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-unlock-alt"></i>
                                </div>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-2">Login</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </div>
</nav>