<div class="row d-flex justify-content-center mt-5">
    <div style="width: 100%; min-width: 765px;">
        <div class="card" style="margin: 0 15px 0 15px;" *ngIf="eventSelected !== undefined && !eventSelected.numbered">
            <div class="card-body">
                <form [formGroup]="myFormTickets" (ngSubmit)="createOrder()" action="">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th></th>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>DESCRIPTION</th>
                                <th>QUANTITY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" #td *ngFor="let ticket of ticketsNotNumbered; let i = index;">
                                <td>
                                    <input type="radio" [id]="'radio_' + ticket.id" [checked]="selectedTicket !== null && selectedTicket.id === ticket.id" [disabled]="selectedTicket === null || selectedTicket.id !== ticket.id">
                                </td>
                                <td>
                                    <label for="">{{ ticket.id }}</label>
                                </td>
                                <td>
                                    <label for="">{{ ticket.name }}</label>
                                </td>
                                <td>
                                    <label for="">{{ ticket.description }}</label>
                                </td>
                                <td class="d-flex justify-content-center">
                                    <select class="custom-select" [id]="'select_' + ticket.id" style="width: auto;" (change)="setQuantity(ticket, $event.target.value)" formControlName="quantity">
                                        <option [value]="null" selected>SELECT</option>
                                        <option [value]="n" *ngFor="let n of getQuantity(ticket); let i = index">{{ n }}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button [disabled]="!selectedTicket" [ngStyle]="{ 'cursor': !selectedTicket ? 'default' : 'pointer' }" type="submit" class="btn" [ngClass]="{ 'btn-outline-success' : selectedTicket,
                                                                                                                                                                  'btn-outline-dark' : !selectedTicket }">Create Order</button>
                </form>
            </div>
        </div>
        <div style="margin: 0 15px 0 15px; min-width: 765px;" *ngIf="eventSelected !== undefined && eventSelected.numbered">
            <app-seats [ticketsEventNumberedSelected]="ticketsNumbered"></app-seats>
        </div>
    </div>
</div>