<div class="row">
    <div style="width: 100%">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>TICKET NAME</th>
                            <th>EVENT NAME</th>
                            <th>PRICE</th>
                            <th>
                                <button [disabled]="!seatService.selectedSeat" (click)="createOrder()" type="button" class="btn btn-outline-success" [ngStyle]="{ 'cursor' : !seatService.selectedSeat ? 'default' : 'pointer' }">Create Order</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ticket of ticketsEventNumberedSelected">
                            <td>{{ ticket.name }}</td>
                            <td>{{ ticket.event.name }}</td>
                            <td>{{ ticket.price }}</td>
                            <td>
                                <button (click)="showSeats(ticket)" class="btn btn-outline-info">SELECT SEATS</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card" *ngIf="seatService.seatmapSeats.length > 0">
            <div class="card-body">
                <div #svg id="svg" class="d-flex justify-content-center"></div>
            </div>
        </div>
    </div>
</div>