html,
body {
    background-color: #E6E6E6;
    height: 100%;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input[type="radio"]:checked {
    border: 1px solid blue;
}

table thead th,
table tbody td {
    text-align: center;
}

table thead th {
    vertical-align: middle;
    color: #212529;
    font-weight: bold;
}

thead tr th.mat-header-cell div.mat-sort-header-container {
    justify-content: center;
}